* {
  box-sizing: border-box;
}

body {
  margin:auto;
}

.project-title:hover {
  cursor: pointer;
}

.hidden {
  display:none;
}

.language:hover {
  cursor: pointer;
}

.index-page-wrapper {
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-image: url('coding-bg1.jpg');
  background-size: auto;
}

.logo-wrapper {
  display: flex;
  margin-top:2%;
  justify-content: center;
  width:100%;
}

.logo {
  height:50vh;
}

.signup-login-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin:auto;
}

.sl-button {
  width:15%;
  margin:1%;
  border: 2px solid white;
  border-radius:5px;
  padding:5px;
  text-decoration: none;
  color: white;
  height:5vh;
  font-size: 1.5em;
  background-color: rgba(34,139,34,.7);
  text-align: center;
  vertical-align: middle;

}

.blue {
  background-color:rgba(0,192,192,0.7);
}

.login-wrapper {
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login {
  align-self: center;
  margin:0.5%;
  width:100%;
  display: flex;
  justify-content: center;
}

.input {
  width:25%;
  border-radius:50px;
  text-align: center;
  padding:5px;
}

.login-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top:2%;
}

.login-button {
  width: 20%;
  border:2px solid white;
  text-align: center;
  padding: 8px;
  background-color: forestgreen;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.profile-page-wrapper{
  width: 100%;
  height:100vh;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  margin:auto;
  background-image: url('coding-bg1.jpg');
  background-size: auto;
}

.profile-bio-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid black;
  margin-top: auto;
  background-color: rgba(45,45,45, 0.6);
  color: white;
}

.profile-pic-wrapper{
  width:25%;
  display: flex;
  justify-content: flex-start;
  margin-left: 0.5%;
}

.profile-pic {
  width: 50%;
  height:50%;
  border: 2px solid grey;
}

.profile-bio-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.profile-bio-header {
  width: 100%;
}

.profile-bio-content {
  width: 100%;
  font-size: 15px;
}

.profile-bio-links {
  width: 100%;
}

.editprofile {
  font-size: .8em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  text-decoration: none;
  margin-right: 1%;
}

.editprofile:hover {
    cursor: pointer;
}

.editprofile em {
  color: lightgrey;
}

.create-project-button-wrapper {
  margin:2%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.new-project-button {
  border: 2px solid black;
  padding:10px;
  border-radius:20px;
  background-color:rgba(34,139,34,.7);
  text-align: center;
  color: white;
  text-decoration: none;
  width: 30vw;
  text-align: center;
  margin-top:5%;
}

.project-wrapper {
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  margin:2%;
  border: 2px solid black;
  display: flex;justify-content: center;
  width: 25%;
  height: 12vh;
  background-color: lightgrey;
}

a {
  text-decoration: none;
}

.experience-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  background-image: url('coding-bg1.jpg');
  background-size: auto;
}

.question-wrapper {
  width:50%;
  margin:2%;;
  color:white;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.question-wrapper h2 {
    background-color: rgba(45,45,45, 0.6);
    border: 2px solid white;
    padding:5px;
    font-size:2.8em;
}

.bouton {
  width: 65%;
  border: 2px solid white;
  margin: 3%;
  border-radius:20px;
}

.bouton a {
  text-decoration: none;
  color: white;
  font-size: 2.2em;
}

.beginner {
  background-color:rgba(38,106,46,.6);
}

.intermediate {
  background-color:rgba(255,255,0,0.6);
}

.advanced {
  background-color:darkred;
  background-color:rgba(0,0,255,.5);
}

.experience-logo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:1%;
}

.experience-logo-wrapper img {
  width: 25%;
  height: 25%;
}

.newproject-page-wrapper {
  width:100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background-image: url('coding-bg1.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  margin: auto;
}

.technology-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  text-decoration: underline;
}

.technology-text-wrapper h1 {
  border: 2px solid white;
  padding:12px;
  background-color: black;
  vertical-align: middle;
}

.newproject-form-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.newproject-form-title  {
  display: flex;
  justify-content: center;
  width: 100%;
  margin:auto;
  margin-bottom: 1%;
  text-align: center;
}

.newproject-form-description {
  display: flex;
  justify-content: center;
  width: 100%;
  margin:auto;
  text-align: center;
}

.newproject-questions {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1%;
}

.newproject-question {
  width: 51%;
  margin: 1%;
  border: 2px dashed rgba(0,192,192,0.7);
  padding:5px;
  background-color: rgba(105,105,105,.8);
  color: white;
}

.select {
  border: 2px solid black;
  text-align: center;
}

.notes-wrapper {
  display: flex;
  justify-content: center;
  width:100%;
  flex-wrap: wrap;
  margin: auto;
}

.note {
  width: 100%;
  font-size: 1em;
  color: white;
  display: flex;
  justify-content: center;
}

.note h2 {
  border: 2px solid white;
  width: auto;
  background-color: black;
  color: white;
  padding:5px;
}

.newproject-submit-button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1%;
}

.newproject-submit-button {
  width: 100%;
  border: 2px solid white;
  padding:10px;
  border-radius:20px;
  background-color: rgba(34,139,34,.7);
  color:white;
  margin: auto;
}

.newproject-submit-button a {
  color: white;
}

.singleview-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap:wrap;
  width: 100%;
  background-image: url('coding-bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.singleview-project {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid white;
  color: white;
  /*margin-left: auto;*/
}

.singleview-project h2 {
  text-decoration: underline;
}

.singleview-project1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.project-checklist {
  color:white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: auto;
}

.project-title {
  margin: auto;

}

.quote {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  /*margin: auto;*/
}

.quote h5 {
  border: 2px solid white;
  padding:10px;
  font-size: 2em;
}

.language-wrapper {
  width: 100%;
  border: 2px solid white;
  background-color: rgba(45,45,45, 0.6);
  text-align: center;
}

.language {
  width: 100%;
  border: 2px solid white;
  background-color: rgba(0,0,0,.6);
  font-size: 1.5em;
}

.tutorial {
  text-align: left;
  margin-left:5%;
  font-size: 25px;
}

.update-delete-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  /*margin: 2%;*/
}

.singleview-button {
  border: 2px solid white;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(255,245,255,.8);
}

.update {
  background-color:rgba(255,255,0,0.7);
  color: white;
}

.home {
  background-color:rgba(0,192,192,0.7);
  color: white;
}

.delete {
  background-color:rgba(255,0,0,0.6);
  color: white;
}

.justify-height {
  height: 300px;
}

.addLanguage {
  background-color:rgba(255,255,0,0.6);
  color: white;
}

.addTutorial {
  background-color:rgba(0,192,192,0.7);
  color: white;
}

.saveChanges {
  background-color: rgba(34,139,34,.7);
  color:white;
}










@media(max-width: 700px) {
  .justify-height {
    height: 100px;
  }

  .question-wrapper h2 {
    font-size: 1.8em;
  }

  .newproject-question {
    width: 100%;
    font-size: .8em;
    margin-top: 2%;
    height:auto;
    padding: 1px;
  }

  .note textarea {
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    height:11vh;
  }
  .profile-bio-content-wrapper {
    font-size: .5em;
  }

  .profile-bio-header {
    font-size: 2em;
  }

  .profile-bio-content {
    font-size: 1.2em;
  }

  .profile-bio-links {
    font-size: 1.5em;
  }

  .profile-pic {
    width: 100%;
    height: 100%;
  }

  .new-project-button {
    align-self: center;
    margin-top:18%;
  }

  .bouton {
    width: 100%;
    margin: 11.5%;
    padding: 5px;
  }

  .experience-logo-wrapper {
    margin: 2%;
  }

  .experience-logo-wrapper img {
    width: 55%;
    height:55%;
    margin: 3%;
  }
}

@media(max-width:1200px) and (min-width:700px) {
  .newproject-question {
    margin-top:4%;
  }

  .question-wrapper {
    font-size: 1em;
  }

  .bouton {
    margin: 5%;
  }

  .experience-logo-wrapper {
    margin: 3%;
  }
}
