<div class="newproject-page-wrapper">
    <div class="technology-text-wrapper">
        <h1>Technology For Your Next Big Idea</h1>
    </div>
    <form class="newproject-form-wrapper" action="/profile/project/" method="post">
        <div class="newproject-form-title">
            <input type="text" name="title" id="title" placeholder="Project Title" value="">
        </div>
        <div class="newproject-form-description">
            <textarea name="description" rows="8" cols="80" placeholder="Project Description"></textarea>
        </div>
        <div class="newproject-questions">
            <div class="newproject-question type">
                <h3>What Are you trying to build?</h3>
                <select class="select" name="tech">
          <optgroup label="Web Application">
            <option value="application">Application</option>
            <option value="game">Game</option>
          </optgroup>
          <optgroup label="Mobile Application">
             <option value="application">Application</option>
             <option value="game">Game</option>
          </optgroup>

          <!-- <optgroup label="Raspberry Pi">

            <option value="">Retro Pi</option>
            <option value="">Wifi Extender</option>
            <option value="">Server</option>
            <option value="">Media System</option>
          </optgroup>
            <option value="">Website Scraper</option>

            <option value="">Google Chrome Plugin</option>
        </select> -->
      </select>
        </div>

      <!-- <div class="newproject-question tech">
        <h3>Which device(s) are you programming for?</h3>
        <select class="select" name="">
          <option value="">iPhone</option>
          <option value="">Android</option>
          <option value="">Internet Browsers</option>
          <option value="">Mac OS</option>
          <option value="">Linux</option>
          <option value="">Atom</option>
          <option value="">Google Chrome Browser</option>
        </select>
      </div> -->
    </div>
    <div class="newproject-submit-button-wrapper">
        <button type="submit" class="newproject-submit-button">
          Submit
        </button>
    </div>

  </form>
</div>
