<div class="index-page-wrapper">
  <div class="logo-wrapper">
    <img class="logo" src="/images/stack-logo1.png" alt="">
  </div>
  <div class="signup-login-wrapper">
    <h4 class="confirmation">Thank you for creating an account with <em>stackD</em>!. Please login with your newly created account here.</h4>
  </div>

  <div class="login-wrapper">
    <form  action="/" method="post">
      <div class="login">
        <label for="user_name"></label>
        <input class="input hidden" type="text" name="user_name" placeholder="Username"value="">
      </div>
      <div class="login">
        <label for="password"></label>
        <input class="input hidden" type="password" name="password" placeholder="password" value="">
      </div>
      <div class="login-button-wrapper">
        <button class="login-button input hidden" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
