<div class="singleview-page-wrapper">
  <div class="singleview-project">
    <h2>Project Title</h2>
    <h5>Project description. Project description. Project description. Project description.</h5>
  </div>

  <div class="project-checklist">
    <div class="singleview-project1">
      <div class="quote">
        <h5>"I am working for the weekend" -Brent</h5>
      </div>
    </div>

    <div class="language-wrapper">
      <div>
        <h3 class="language language1">HTML</h3>
        <div class="tutorial t-1 hidden" >
          <h6><input type="checkbox">Tutorial</h6>
        </div>
        <div class="tutorial t-1 hidden">
          <h6><input type="checkbox">Tutorial</h6>
        </div>
        <div class="tutorial t-1 hidden">
          <h6><input type="checkbox">Tutorial</h6>
        </div>
      </div>

      <div>
        <h3 class="language language2">CSS</h3>
        <div class="tutorial t-2 hidden" >
          <h6><input type="checkbox">Tutorial</h6>
        </div>
        <div class="tutorial t-2 hidden">
          <h6><input type="checkbox">Tutorial</h6>
        </div>
        <div class="tutorial t-2 hidden">
          <h6><input type="checkbox">Tutorial</h6>
        </div>
      </div>

      <div>
        <h3 class="language language3">jQuery</h3>
        <div class="tutorial t-3 hidden " >
          <h6><input type="checkbox">Tutorial</h6>
        </div>
        <div class="tutorial t-3 hidden">
          <h6><input type="checkbox">Tutorial</h6>
        </div>
        <div class="tutorial t-3 hidden">
          <h6><input type="checkbox">Tutorial</h6>
        </div>
      </div>

      <div>
        <h3 class="language language4">CSS Animations</h3>
        <div class="tutorial t-4 hidden " >
          <h6><input type="checkbox">Tutorial</h6>
        </div>
        <div class="tutorial t-4 hidden">
          <h6><input type="checkbox">Tutorial</h6>
        </div>
        <div class="tutorial t-4 hidden">
          <h6><input type="checkbox">Tutorial</h6>
        </div>
      </div>
    </div>
    <div class="update-delete-button-wrapper">
      <div class="button">
        <a href="#"><div class="singleview-button addLanguage">Add Language</div></a>
      </div>
      <div class="button">
        <a href="#"><div class="singleview-button addTutorial">Add Tutorial</div></a>
      </div>
      <div class="button ">
        <a href="singleview.html"><div class="singleview-button saveChanges">Save Changes</div></a>
      </div>
      <div class="button ">
        <a href="profile.html"><div class="singleview-button delete">Delete</div></a>
      </div>
      <div class="justify-height"></div>
    </div>
  </div>
</div>
