
<div class="profile-bio-content-wrapper">
  <form action="/profile/{{user}}/edit" method="post">
    <!--img here with name="profPic" -->
    <textarea name='bio' class="profile-bio-content" maxlength="250"></textarea>
    <button>Save</button>
  </form>
</div>
