<div class="experience-page-wrapper">
  <div class="question-wrapper">
    <h2>What is your current programming level?</h2>
    <p class="bouton beginner"><a href="newproject.html">Beginner</a></p>
    <p class="bouton intermediate"><a href="newproject.html">Intermediate</a></p>
    <p class="bouton advanced"><a href="newproject.html">Advanced</a></p>
  </div>
  <div class="experience-logo-wrapper">
    <img src="stack-logo1.png" alt="">
  </div>
</div>
