<div class="experience-page-wrapper">
  <div class="question-wrapper">
    <h2>What is your current programming level?</h2>
    <p class="bouton beginner"><a href="/profile/{{user}}/experience/beginner">Beginner</a></p>
    <p class="bouton intermediate"><a href="/profile/{user}/experience/intermediate">Intermediate</a></p>
    <p class="bouton advanced"><a href="/profile/{user}/experience/advanced">Advanced</a></p>
  </div>
</div>

<!-- /profile/{{user}}/edit -->
