<img src="" alt="">

<div class="flex boxy">
  <h2>It's time to make {{type}}<span class="span span1">.<span class="span span2">.<span class="span span3">.</span></span></span> <span class="span" id="adj">{{adj}}</span></h2>
</div>


<div class="flex">
  <form action="/profile/{{user_name}}/newidea/completed" method="post">
    <div class="form-group">
      <label for="">Project Title:</label>
      <input type="text" class="form-control" name="title" placeholder="Example input">
    </div>
    <div class="form-group">
      <label for="2">Project description</label>
      <input type="text" class="form-control" name="description" placeholder="Another input">
    </div>
    <label for="">Developer Experience</label>
    <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="beginner"> Beginner
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="intermediate"> Intermediate
    </label>
  </div>
  <div class="form-check form-check-inline disabled">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="advanced" disabled> Advanced
    </label>
  </div>


    <div class="advanced container flex span">
      <div class="row">
      <label for="">Will users need to create an account?</label>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="yes"> Yes
        </label>
        </div>
        <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="no"> No
        </label>
      </div>
      <label for="">Will users need to sign up for an email list?</label>
      <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="yes"> Yes
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="no"> No
      </label>
      </div>
      <label for="">Approximate Time Commitment?</label>
      <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="yes"> Under 20 Hours
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="no"> Under 40 Hours
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="no"> Under 60 Hours
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="no"> Under 80 Hours
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="no"> Under 100 Hours
      </label>
      </div>
      <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="no"> Over 100 Hours
      </label>
      </div>
    </div>
  </div>








    <div class="superAdvanced span">
      <label for="">What will be the main feature?</label>
      <select name="mainFeature">
        <option value="Chat App">Chat App</option>
        <option value="calendar">Calendar</option>
        <option value="game">Game</option>
        <option value="todo">Task List</option>
      </select>
      <label for="">What will be a the sub feature #1?</label>
      <select name="subFeature1">
        <option value="">Feature 1</option>
        <option value="">Feature 2</option>
      </select>
      <label for="">What will be the sub feature #2?</label>
      <select name="subFeature2">
        <option value="">Feature 1</option>
        <option value="">Feature 2</option>
      </select>
    </div>

    <button type="button" id="advanced" class="btn btn-primary">Continue</button>
    <button type="button" id="superAdvanced" class="span btn btn-warning">Keep Going</button>
    <button class="span btn btn-success" id="submit" type="submit" name="button">Submit</button>

  </form>
</div>






  <!-- <div class="form-group">
    <label for="2">Project description</label>
    <input type="text" class="form-control" name="skill" placeholder="Another input">
  </div>




  <div class="form-group">
    <label for="2">Project description</label>
    <input type="text" class="form-control" name="description" placeholder="Another input">
  </div>
  <div class="form-group">
    <label for="2">Project description</label>
    <input type="text" class="form-control" name="description" placeholder="Another input">
  </div>
  <div class="form-group">
    <label for="2">Project description</label>
    <input type="text" class="form-control" name="description" placeholder="Another input">
  </div>
  <div class="form-group">
    <label for="2">Project description</label>
    <input type="text" class="form-control" name="description" placeholder="Another input">
  </div> -->
