<div class="newproject-page-wrapper">
    <div class="technology-text-wrapper">
        <h1>Technology For Your Next Big Idea</h1>
    </div>
    <div class="newproject-form-wrapper">
        <div class="newproject-form-title">
            <input type="text" name="title" id="title" placeholder="Project Title" value="">
        </div>
        <div class="newproject-form-description">
            <textarea name="description" rows="8" cols="80" placeholder="Project Description"></textarea>
        </div>
        <div class="newproject-questions">
            <div class="newproject-question type">
                <h3>What Are you trying to build?</h3>
                <select class="select" name="">
          <optgroup label="Web Application">
            <option value="">Application</option>
            <option value="">Game</option>
          </optgroup>
          <optgroup label="Mobile Application">
             <option value="">Application</option>
             <option value="">Game</option>
          </optgroup>
          <optgroup label="Mac">
            <option value="">SoftWare</option>
            <option value="">Application</option>
            <option value="">Game</option>
          </optgroup>
          <optgroup label="Linux">
            <option value="">Software</option>
            <option value="">Application</option>
            <option value="">Game</option>
          </optgroup>
          <optgroup label="IoT Device">
            <option value="">Light Switch</option>
            <option value="">Auto House Lock</option>
            <option value="">Arcade Cabinet</option>
          </optgroup>
          <optgroup label="Raspberry Pi">
            <option value="">Retro Pi</option>
            <option value="">Wifi Extender</option>
            <option value="">Server</option>
            <option value="">Media System</option>
          </optgroup>
            <option value="">Website Scraper</option>
            <option value="">Text Editor Plugin</option>
            <option value="">Google Chrome Plugin</option>
        </select>
      </div>
      <div class="newproject-question tech">
        <h3>Which device(s) are you programming for?</h3>
        <select class="select" name="">
          <option value="">iPhone</option>
          <option value="">Android</option>
          <option value="">Internet Browsers</option>
          <option value="">Mac OS</option>
          <option value="">Linux</option>
          <option value="">Atom</option>
          <option value="">Google Chrome Browser</option>
        </select>
      </div>
    </div>
  </div>
  <div class="notes-wrapper">
    <div class="note">
      <h2>Project Notes</h2>
    </div>
    <div class="note">
      <textarea name="name" width: "100%" rows="8" cols="80"></textarea>
    </div>
    <div class="newproject-submit-button-wrapper">
      <a href="profile.html">
        <div class="newproject-submit-button">
          Submit
        </div>
      </a>
    </div>
  </div>
</div>
