<div class="profile-page-wrapper">
  <h1></h1>
  <div class="profile-bio-wrapper">
    <div class="profile-pic-wrapper">
      <img class="profile-pic" src="../public/images/empty-profile1.jpg" alt="">
    </div>
    <div class="profile-bio-content-wrapper">
      <div class="profile-bio-header">
        <h3>A little about me...</h3>
      </div>
      <div class="profile-bio-content"><p>I am looking to become a full stack developer and want to know which technologies are best to learn for my interests</p></div>
      <div class="profile-bio-links">
        <h4>Share <em>Stacked</em> with your friends</h4>
      </div>
      <div class="editprofile">
        <a href="#"><p><em>Edit Profile</em></p></a>
      </div>
    </div>
  </div>

  <div class="create-project-button-wrapper top-button">
    <a href="/profile/:user_name/experience"><div class="new-project-button">Create Project</div></a>
  </div>

  <div class="project-wrapper">
    <div class="project">
      <a href="experience.html"><div class="project-content">+ Create New Project</div></a>
    </div>
    <div class="project">
      <a href="singleview.html"><div class="project-content">Project 1</div></a>
    </div>
    <div class="project">
      <a href="singleview.html"><div class="project-content">Project 2</div></a>
    </div>
    <div class="project">
      <a href="singleview.html"><div class="project-content">Project 3</div></a>
    </div>
    <div class="project">
      <a href="singleview.html"><div class="project-content">Project 4</div></a>
    </div>
    <div class="project">
      <a href="singleview.html"><div class="project-content">Project 5</div></a>
    </div>
  </div>
  <div class="create-project-button-wrapper">
    <a href="experience.html"><div class="new-project-button">Create Project</div></a>
  </div>
</div>
