<div class="profile-page-wrapper">


  <div class="header-with-username">
    <h1 class="username">{{user.user_name}}</h1>
    <div class="header-wrapper">
      <div class="profile-pic-wrapper">

      </div>
      <div class="profile-bio-wrapper">
        <div class="profile-bio-content-wrapper">
          <div class="profile-bio-header">
          </div>
          <div class="profile-bio-content"><p>{{user.bio}}</p></div>
          <div class="profile-bio-links">
            <h4>Share your projects here!</h4>
          </div>
          <div class="editprofile">
            <a href="#"><p><em>Edit Profile</em></p></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="create-project-button-wrapper top-button">

    <a href="/profile/{{user.user_name}}/experience"><div class="new-project-button devinClass">Create Project</div></a>

  </div>

  <div class="project-wrapper">
    <div class="project devinClass">
      <a href="experience.html"><div class="project-content ">+ create new project</div></a>
    </div>
    <div class="project prototype">
      <a><div class="project-content">project 1</div></a>
    </div>
    <div class="project prototype">
      <a><div class="project-content">project 2</div></a>
    </div>
    <div class="project prototype">
      <a><div class="project-content">project 3</div></a>
    </div>
    <div class="project prototype">
      <a><div class="project-content">project 4</div></a>
    </div>
    <div class="project prototype">
      <a><div class="project-content">project 5</div></a>
    </div>
  </div>
</div>
