<img class="logoProfile" src="../images/stack-logo.png" alt="">

<div class="flex h2">
  <h2>Find Your Project's Stack!</h2>
</div>


<div class="flex signupDiv">
  <form class="" action="/signup/newestuser" method="post">
    <div class="flex signupInputs">
      <div class="flex row">
        <label for="">User Name</label>
        <input type="text" name="user_name" value="">
      </div>
      <div class="flex row">
        <label for="">Email</label>
        <input type="text" name="email" value="">
      </div>
      <div class="flex row">
        <label for="">Password</label>
        <input type="password" name="password" value="">
      </div>
    </div>
    <div class="flex signupButtons">
      <button type="submit" class='btn btn-primary' name="button">Sign Up</button>
      <a href='/' class='btn btn-warning' name="button">Home</a>
    </div>
  </form>
</div>





<div class="stackAnimate">
  <div class="lang4 flex langs thing">
    <h4 class="lang h4lang4">{{lang4}}</h4>
  </div>
  <div class="lang3 flex langs thing">
    <h4 class="lang h4lang3">{{lang3}}</h4>
  </div>
  <div class="lang2 flex langs thing">
    <h4 class="lang h4lang2">{{lang2}}</h4>
  </div>
  <div class="lang1 flex langs thing">
    <h4 class="lang h4lang1">{{lang1}}</h4>
  </div>
</div>
