<div class="signup-page-wrapper">
  <div class="logo-wrapper">
    <img class="logo" src="/images/stack-logo1.png" alt="">
  </div>
  <form action="/users/signup" method="post">
    <div class="">
      <label for="first_name">First Name:</label>
      <input class="input" type="text" name="first_name" value="">
    </div>
    <div class="">
      <label for="last_name">Last Name:</label>
      <input class="input" type="text" name="last_name" value="">
    </div>
    <div class="">
      <label for="users_name">User Name:</label>
      <input class="input" type="text" name="user_name" value="">
    </div>
    <div class="">
      <label for="email">Email:</label>
      <input class="input" type="email" name="email" value="">
    </div>
    <div class="">
      <label for="password">password:</label>
      <input class="input" type="password" name="password" value="">
    </div>
    <!-- <div class="">
      <label for="confirm">Confirm Password:</label>
      <input class="input" type="password" name="confirm" value="">
    </div> -->
    <div class="">
      <button class="login-button"type="submit">Submit</button>
    </div>
  </form>
</div>
