<div class="singleview-page-wrapper">
  <div class="singleview-project">
    <h2>{{project.Title}}</h2>
    <h3>{{project.description}}</h3>
    <h5>TECH TYPE: {{project.tech}}</h5>
  </div>
  <div class="project-checklist">
    <div class="language-wrapper">
      <div>
        <h3 class="language language1">HTML</h3>
        <div class="tutorial t-1 hidden" >
          <h6><input type="checkbox" selected><a href="#">Codecademy: Learn HTML</a></h6>
        </div>
        <div class="tutorial t-1 hidden">
          <h6><input type="checkbox" selected><a  href="#">KhanAcademy: Learn HTML CSS</a></h6>
        </div>
        <div class="tutorial t-1 hidden">
          <h6><input type="checkbox"><a href="#">Learn CSS FlexBox</a></h6>
        </div>
        <div class="tutorial t-1 hidden">
          <h6><input type="checkbox"><a href="https://www.youtube.com/watch?v=Wm6CUkswsNw">Build HTML/CSS Website</a></h6>
        </div>
      </div>
      <div>
        <h3 class="language language2">Javascript</h3>
        <div class="tutorial t-2 hidden" >
          <h6><input type="checkbox"><a href="#">Codecademy: Learn Javascript</a></h6>
        </div>
        <div class="tutorial t-2 hidden">
          <h6><input type="checkbox"><a href="#">Javascript Tutorial in 30min</a></h6>
        </div>
        <div class="tutorial t-2 hidden">
          <h6><input type="checkbox"><a href="#">Javascript Fundamentals</a></h6>
        </div>
        <div class="tutorial t-2 hidden">
          <h6><input type="checkbox"><a href="#">Build App with Javascript</a></h6>
        </div>
      </div>
      <div>
        <h3 class="language language3">jQuery</h3>
        <div class="tutorial t-3 hidden " >
          <h6><input type="checkbox"><a href="#">Why jQuery vs Javascript</a></h6>
        </div>
        <div class="tutorial t-3 hidden">
          <h6><input type="checkbox"><a href="#">CodeCademy: Learn jQuery</a></h6>
        </div>
        <div class="tutorial t-3 hidden">
          <h6><input type="checkbox">Complete jQuery Tutorial</h6>
        </div>
        <div class="tutorial t-3 hidden">
          <h6><input type="checkbox">Build a ToDo App with jQuery</h6>
        </div>
      </div>

<div>
  <h3 class="language language4">CSS Animations</h3>
  <div class="tutorial t-4 hidden " >
<h6><input type="checkbox">Tutorial</h6>
  </div>
  <div class="tutorial t-4 hidden">
<h6><input type="checkbox">Tutorial</h6>
  </div>
  <div class="tutorial t-4 hidden">
<h6><input type="checkbox">Tutorial</h6>
  </div>
</div>
  </div>
  <div class="update-delete-button-wrapper">
  <div class="button">
<a href="editproject.html"><div class="singleview-button update">Edit</div></a>
  </div>
  <div class="button">
<a href="/profile/:user_name"><div class="singleview-button home">Home</div></a>
  </div>
  <div class="button ">
<a href="/profile/:user_name"><div class="singleview-button delete">Delete</div></a>
  </div>
      <div class="justify-height"></div>
    </div>
  </div>
</div>
