* {
  box-sizing: border-box;
}

body {
  margin:auto;
  font-family: 'Source Code Pro', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(41, 41, 41);
}

form {
  margin: 2em;
  color: green;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 3em;
  border: solid green 3px;
  border-radius: 20px;
}

nav {
  width:100%;
}

.nav-logo {
  height: 4em;
  margin-left: 3em;
  margin-top: .5em;
  margin-bottom: .5em;
}

.nav-logo-wrap {
  border-bottom: solid green 2px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-title:hover {
  cursor: pointer;
}

.hidden {
  display:none;
}

.language:hover {
  cursor: pointer;
}

.index-page-wrapper, .signup-page-wrapper{
  width:100%;
  height:60em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-image: url('../images/coding-bg1.jpg');
  background-size: auto;
}

.logo-wrapper {
  display: flex;
  margin: 5%;
  justify-content: center;
  width:100%;
}

.logo {
  height:25em;
}

.signup-login-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin:auto;
}

.sl-button {
  width:10em;
  margin:1%;
  border: 2px solid white;
  border-radius:5px;
  padding:5px;
  text-decoration: none;
  color: white;
  height:50px;
  font-size: 1.5em;
  background-color: rgba(34,139,34,.7);
  text-align: center;
  vertical-align: middle;

}

.quote {
  color: white;
}

.blue {
  background-color:rgba(0,192,192,0.7);
}

.login-wrapper {
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login {
  align-self: center;
  margin:0.5%;
  width:100%;
  display: flex;
  justify-content: center;
}

.input {
  text-align: center;
  padding: 6px;
  color: green;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: solid 1px;
}

.username {
  color: white;
  margin-bottom: 0;
  border-bottom: solid 2px green;
}

.header-with-username {
  border: solid green 2px;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  margin-top: 4em;
  border-radius: 20px;
  width: 94%;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.login-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top:2%;
}

.login-button {
  width: 100%;
  border: 2px solid rgb(9, 13, 14);
  text-align: center;
  padding: 8px;
  margin: 1em;
  background-color: rgba(34,139,34,0.65);
  /* border-radius: 20px; */
  text-decoration: none;
  color: white;
  font-weight: 400;
  margin-top: 3em;
  margin-bottom: -1em;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-item {
  display: flex;
  justify-content: space-between;
}

.profile-page-wrapper{
  width: 100%;
  height:100vh;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  margin:auto;
  background-color: auto;
}

.profile-bio-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  color: white;
  margin: 2em;
  margin-left: 0;

}

.profile-pic-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44em;
  margin: -6%;
  margin-bottom: 0;
}

.profile-pic {
  width: 100%;
  height: 72%;
  border: 2px solid grey;
  margin-left: 1.8em;
}



.profile-bio-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.profile-bio-header {
  width: 100%;
}

.profile-bio-content {
  width: 100%;
  font-size: 15px;
}

.profile-bio-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: -15em;
  margin-bottom: -1em;
}

.editprofile {
  font-size: .8em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  text-decoration: none;
  margin-right: 1%;
}

.editprofile:hover {
    cursor: pointer;
}

.editprofile em {
  color: lightgrey;
}

.top-button{
  margin: 0;
}

.create-project-button-wrapper {
  margin:0;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
  width: 100%;
}


.project-content {
  color: white;
}

.devinClass:hover{

  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 102, 0, .8), 0 0 20px rgba(255, 102, 0, .4);
  outline-color: rgba(255, 102, 0, .1);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.new-project-button {
  border: 2px solid white;
  padding:10px;
  border-radius:20px;
  background-color:rgba(0, 0, 245, .7);
  text-align: center;
  color: white;
  text-decoration: none;
  width: 30vw;
  align-self: center;
  margin-top:18%;
}

.project-wrapper {
  width:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project{
  margin:2%;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20em;
  height: 14em;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 20px;
  color:white
}

.project:hover{
  -webkit-transform: translateY(-8px);
 transform: translateY(-8px);

}

.prototype {
  border: dashed 2px yellow;
}

a {
  text-decoration: none;
}

.experience-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.question-wrapper {
  width:50%;
  margin:2%;;
  color:white;
  font-size:2.5em;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.question-wrapper {
    background-color: rgb(0, 0, 0);
    border: 2px solid green;
    border-radius: 20px;
    padding:5px;
}

.bouton {
  width: 65%;
  border: 2px solid white;
  margin: 3%;
  border-radius:20px;
}

.bouton a {
  text-decoration: none;
  color: white;
}

.beginner {
  background-color:rgba(235, 38, 38, 0.6);
}

.intermediate {
  background-color:rgba(255,255,0,0.6);
}

.advanced {
  background-color:darkred;
  background-color:rgba(0,0,255,.5);
}

.experience-logo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:1%;
}

.experience-logo-wrapper img {
  width: 25%;
  height: 25%;
}

.newproject-page-wrapper {
  width:100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: auto;
}

.technology-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  text-decoration: underline;
}

.technology-text-wrapper h1 {
  border: 2px solid white;
  padding:12px;
  background-color: black;
  vertical-align: middle;
}

.newproject-form-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.newproject-form-title  {
  display: flex;
  justify-content: center;
  width: 100%;
  margin:auto;
  margin-bottom: 1%;
  text-align: center;
}

.newproject-form-description {
  display: flex;
  justify-content: center;
  width: 100%;
  margin:auto;
  text-align: center;
}

.newproject-questions {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1%;
}

.newproject-question {
  width: 51%;
  margin: 1%;
  border: 2px dashed rgba(0,192,192,0.7);
  padding:5px;
  background-color: rgba(105,105,105,.8);
  color: white;
}

.select {
  border: 2px solid black;
  text-align: center;
}

.notes-wrapper {
  display: flex;
  justify-content: center;
  width:100%;
  flex-wrap: wrap;
  margin: auto;
}

.note {
  width: 100%;
  font-size: 1em;
  color: white;
  display: flex;
  justify-content: center;
}

.note h2 {
  border: 2px solid white;
  width: auto;
  background-color: black;
  color: white;
  padding:5px;
}

.newproject-submit-button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1%;
}

.newproject-submit-button {
  width: 40%;
  border: 2px solid white;
  padding:10px;
  border-radius:20px;
  background-color: rgba(34,139,34,.7);
  color:white;
  margin: auto;
}

.newproject-submit-button a {
  color: white;
}

/*.singleview-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap:wrap;
  width: 100%;
  background-image: url('../images/coding-bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}*/

.singleview-project {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid white;
  color: white;
  /*margin-left: auto;*/
}

.singleview-project h2 {
  text-decoration: underline;
}

.singleview-project1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.project-checklist {
  color:white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: auto;
}

.project-title {
  margin: auto;

}

.quote {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  /*margin: auto;*/
}

.quote h5 {
  border: 2px solid white;
  padding:10px;
  font-size: 2em;
}

.language-wrapper {
  width: 100%;
  border: 2px solid white;
  background-color: rgba(45,45,45, 0.6);
  text-align: center;
}

.language {
  width: 100%;
  border: 2px solid white;
  background-color: rgba(0,0,0,.6);
  font-size: 1.5em;
}

.tutorial {
  text-align: left;
  margin-left:5%;
  font-size: 25px;
}

.update-delete-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  /*margin: 2%;*/
}

.singleview-button {
  border: 2px solid white;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(255,245,255,.8);
}

.update {
  background-color:rgba(255,255,0,0.7);
  color: white;
}

.home {
  background-color:rgba(0,192,192,0.7);
  color: white;
}

.delete {
  background-color:rgba(255,0,0,0.6);
  color: white;
}

.justify-height {
  height: 300px;
}

.addLanguage {
  background-color:rgba(255,255,0,0.6);
  color: white;
}

.addTutorial {
  background-color:rgba(0,192,192,0.7);
  color: white;
}

.saveChanges {
  background-color: rgba(34,139,34,.7);
  color:white;
}











@media(max-width: 700px) {
  .justify-height {
    height: 100px;
  }

  .question-wrapper {
    font-size: 2em;
  }

  .newproject-question {
    width: 100%;
    font-size: .8em;
    margin-top: 2%;
    height:auto;
    padding: 1px;
  }

  .note textarea {
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    height:11vh;
  }
  .profile-bio-content-wrapper {
    font-size: .5em;
  }

  .profile-bio-header {
    font-size: 2em;
  }

  .profile-bio-content {
    font-size: 1.2em;
  }

  .profile-bio-links {
    font-size: 1.5em;
  }

  .profile-pic {
    width: 100%;
    height: 100%;
  }


  }

  .bouton {
    width: 100%;
    margin: 5.5%;
    padding: 5px;
  }

  .experience-logo-wrapper {
    margin: 6%;
  }

  .experience-logo-wrapper img {
    width: 55%;
    height:55%;
  }
}

@media(max-width:1000px) {
  .newproject-question {
    margin-top:4%;
  }
}

@media(max-width: 420px) {
  .logo {
    width:40vh;
    height:100%;
  }
  .signup-login-wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
  }
  .logo-wrapper{
    margin-top: 10%;
  }
}
